 <!-- Header -->
        <header class="header">
            <button class="menu-toggle" onclick="toggleSidebar()">
                <i class="fas fa-bars"></i>
            </button>
            
            <div class="header-right">
                <!-- <div class="search-box">
                    <input type="text" placeholder="Search orders, customers, products...">
                    <i class="fas fa-search"></i>
                </div>
                 -->
                <!-- <button class="notification-btn">
                    <i class="fas fa-bell"></i>
                    <span class="notification-badge">3</span>
                </button> -->
                
                <div class="user-menu">
                    <div class="user-avatar">{{ adminInitial }}</div>
                    <span>{{ adminName }}</span>
                    <!-- <i class="fas fa-chevron-down"></i> -->
                </div>
            </div>
        </header>