<div class="center-wrapper">
  <div class="login-container">
    <div class="logo"></div>

    <h1>Welcome to Jumia</h1>
    <p class="subtitle">Type your e-mail or phone number to log in or create a Jumia account.</p>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">


      <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" id="newPassword" formControlName="newPassword" class="form-control"
          placeholder="Enter new password" />
        <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched"
          class="text-danger">
          New password is required (at least 6 characters).
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
          placeholder="Confirm your new password" />
        <div
          *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched"
          class="text-danger">
          Confirm password is required.
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    </form>
    <p class="support-text">For further support, you may visit the Help Center or contact our customer service team.</p>

    <div class="jumia-logo">JUMIA</div>
  </div>
</div>