<div class="sellers-container">
  <div class="header">
    <h2>Sellers Management</h2>

  </div>

  <div class="search-filter">
    <input type="text" placeholder="Search sellers..." [(ngModel)]="searchTerm" class="search-input">
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <!-- <th style="min-width: 80px;">ID</th> -->
        <th style="min-width: 150px;">Business Name</th>
        <th style="min-width: 200px;">Description</th>
        <th style="min-width: 80px;">Rating</th>
        <th style="min-width: 100px;">Verified</th>
        <th style="min-width: 100px;">Image</th>
        <th style="min-width: 120px;">Action</th>
        <th style="min-width: 150px;">Total Products Sold</th>
        <th style="min-width: 150px;">Total Amount Sold</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let seller of filteredSellers">
        <!-- <td>{{ seller.sellerId }}</td> -->
        <td>{{ seller.businessName }}</td>
        <td class="des">{{ seller.businessDescription }}</td>
        <td>{{ seller.rating }}</td>
        <td>
          <span
            [class]="seller.isVerified === 'Authorized' ? 'badge bg-success' : seller.isVerified === 'Blocked' ? 'badge bg-danger' : 'badge bg-warning'">
            {{ seller.isVerified === 'Authorized' ? 'Authorized' : seller.isVerified === 'Blocked' ? 'Blocked' :
            'Pending' }}
          </span>
        </td>
        <td>
          <img *ngIf="seller.imageUrl" [src]="'http://localhost:5087' + seller.imageUrl" alt="Seller Image" width="60"
            height="60" style="object-fit: cover; border-radius: 50%;">
          <span *ngIf="!seller.imageUrl">No Image</span>
        </td>
        <td *ngIf="seller.isVerified">
          <div class="d-flex flex-column gap-1">

            <!-- Pending: Accept + Block -->
            <ng-container *ngIf="seller.isVerified.toLowerCase() === 'pending'">
              <button class="btn btn-sm btn-success w-100" (click)="verifySeller(seller.sellerId)">
                Accept
              </button>
              <button class="btn btn-sm btn-danger w-100" (click)="toggleBlockSeller(seller.sellerId)">
                Block
              </button>
            </ng-container>

            <!-- Blocked: Unblock -->
            <ng-container *ngIf="seller.isVerified.toLowerCase() === 'blocked'">
              <button class="btn btn-sm btn-success w-100" (click)="toggleBlockSeller(seller.sellerId)">
                Unblock
              </button>
            </ng-container>

            <ng-container *ngIf="seller.isVerified.toLowerCase() === 'authorized'">
              <button class="btn btn-sm btn-danger w-100" (click)="toggleBlockSeller(seller.sellerId)">
                Block
              </button>
            </ng-container>

          </div>
        </td>

        <td>{{ seller.totalProductsSold }}</td>
        <td>EGP{{ seller.totalAmountSold  }}</td>
      </tr>
    </tbody>
  </table>
</div>