<div class="content">
<div class="container">
        <div class="icon-container">
            <div class="email-icon"></div>
            <div class="check-badge"></div>
        </div>
        
        <h1 class="title">Check your email</h1>
        
        <p class="message">
            We've sent a verification link to<br>
            <span class="email-address" id="userEmail"> {{ sentEmail }} </span>
        </p>
        
        
        <!-- <a href="#" class="resend-link" onclick="resendEmail()">
            Didn't receive the email? Click to resend
        </a> -->
    </div>
    
    <div class="brand">JUMIA</div>
</div>
    